:root {
    background-image: url("C:/Users/LeoCHARTIER/Pictures/vlcsnap-2024-02-05-15h35m23s313.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, td {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.pfp {
    width: 200px;
    background-color: #ffffff80;
    border: 1px solid #dededf;
    padding: 0;
}

td {
    background-color: #ffffff80;
    border: 1px solid #dededf;
}

img {
    display: block;
}